@import "tailwindcss";
@import "@nuxt/ui";

.UPageBody {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  overflow: auto;
}

.toc-right {
  position: sticky; 
  top: 20px; 
  width: 200px; 
  margin-left: 20px;
  max-height: 100%
  overflow-y auto;
  height: 100%;
}

.content-area {
  flex-grow: 1; 
  margin-right: 20px; 
}

ul {
  list-style-type: none;
}

ul li {
  padding: 5px;
}
